<section class="advertise advertise-2">
  <app-section-header title="ELEVATE YOUR STYLE JOURNEY" />
  <div class="container">
    <div class="d-flex flex-column position-relative" style="gap: 80px">
      <div class="d-flex justify-content-evenly">
        <div class="d-flex gap-3 mt-4">
          <figure>
            <img src="https://placehold.co/280" alt="add-1" />
          </figure>
          <span>`023</span>
        </div>
        <div>
          <figure>
            <img src="https://placehold.co/240x180" alt="add-2" />
          </figure>
        </div>
      </div>
      <div
        class="position-absolute d-inline w-auto align-self-center"
        style="top: 32%"
      >
        <h2 class="text-center z-1" style="text-anchor: middle">
          CONFIDENT, BOLD, & UNAPOLOGETICALLY UNIQUE.
        </h2>
      </div>
      <div class="row align-items-center">
        <div class="col-4">
          <div class="d-flex flex-column">
            <button class="btn btn-outline-secondary mb-3">EXPLORE NOW!</button>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis,
              ut, veritatis minus magni autem id non!
            </p>
          </div>
        </div>
        <div class="col-4 align-items-center">
          <div class="d-flex align-items-center justify-content-center gap-4">
            <figure>
              <img src="https://placehold.co/120" alt="add-3" />
            </figure>
            <figure>
              <img src="https://placehold.co/120" alt="add-4" />
            </figure>
          </div>
        </div>
        <div class="col-4">
          <figure>
            <img src="https://placehold.co/300x280" alt="add-5" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
