<section class="hero mb-5">
  <h1>SHIFTED COUNTER</h1>
  <div class="feature-prduct-slider">
    <div class="row">
      <div class="col-6">
        <figure>
          <img src="https://placehold.co/540" alt="active-product" />
        </figure>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi,
          animi neque laborum exercitationem at tempore praesentium.
        </p>
      </div>
      <div class="col-6">
        <div class="d-flex flex-column">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
            adipisci voluptatem eos a, ipsam sequi.
          </p>
          <div class="button-group mb-3">
            <button class="btn btn-outline-secondary w-25">&#x2190;</button>
            <button class="btn btn-primary ms-3 w-25">&#x2192;</button>
          </div>
          <div class="d-flex flex-grow-1 gap-3 overflow-x-hidden mb-5">
            <app-slider-card></app-slider-card>
            <app-slider-card></app-slider-card>
            <app-slider-card></app-slider-card>
          </div>
          <!-- <div> -->
          <button class="btn btn-primary align-self-end w-75">READ MORE</button>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
