<section class="explore">
  <app-section-header title="DISCOVER YOUR PERSONAL STYLE" />
  <div class="container">
    <div class="row">
      <app-feature-product [product]="feature1" class="col-6" />
      <div class="col-6">
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-center align-items-center gap-3">
            <span class="text-primary fs-1 align-self-center">&#169;2023</span>
            <app-feature-product [product]="feature2"></app-feature-product>
            <app-feature-product
              [product]="feature3"
              [invert]="true"
            ></app-feature-product>
          </div>
          <h2>FASHION THAT MOVES YOU</h2>
          <button class="btn btn-primary">EXPLORE NOW!</button>
        </div>
      </div>
    </div>
  </div>
</section>
