<div class="p-3 d-flex flex-column">
  <div class="d-flex justify-content-between mb-3 fw-semibold">
    <span>SUMMER</span>
    <span>12 NOV 23</span>
  </div>
  <div>
    <h3 class="mb-3 fw-bold fs-1">SUNKISSED</h3>
    <p class="mb-3 text-secondary">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit!
    </p>
    <figure>
      <img
        src="https://placehold.co/246x360"
        alt="t-shirt"
        srcset="
          https://placehold.co/246x360 1025w,
          https://placehold.co/292x360 1440w
        "
        sizes="(max-width: 1024px) 1025px, 1440px"
      />
    </figure>
  </div>
</div>
