<section class="new-products mb-3">
  <app-section-header title="NEWEST" />
  <div class="d-flex flex-wrap">
    <app-product-card class="w-25"></app-product-card>
    <app-product-category-card class="w-25"></app-product-category-card>
    <app-product-card class="w-25"></app-product-card>
    <app-product-card class="w-25"></app-product-card>
    <app-product-category-card class="w-25"></app-product-category-card>
    <app-product-card class="w-25"></app-product-card>
    <app-product-card class="w-25"></app-product-card>
    <app-product-category-card class="w-25"></app-product-category-card>
  </div>
</section>
